<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Buscar ItemMenu</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="dark:bg-gray-800 text-gray-100 font-mono">
    <div class="container mx-auto py-10">
      <h1 class="text-2xl font-bold mb-4">Buscar ItemMenu</h1>
      <form action="/itemmenu/buscar" method="get" class="flex space-x-4">
        <!-- Campo select para elegir el criterio de búsqueda -->
        <select name="criterio" class="text-gray-800 border rounded py-2 px-3">
          <option value="nombre">Nombre</option>
          <option value="categoria">Categoria</option>
        </select>
        <!-- Campo de búsqueda -->
        <input
          type="text"
          name="busqueda"
          placeholder="Buscar por nombre del item o su categoria"
          class="text-gray-800 border rounded w-full py-2 px-3"
          required
        />

        <button
          type="submit"
          class="bg-green-500 text-white py-2 px-4 rounded hover:bg-green-600"
        >
          Buscar
        </button>
      </form>

      <!-- Mostrar los resultados de la búsqueda -->
      <div th:if="${not #lists.isEmpty(itemsmenu)}" class="mt-6">
        <h2 class="text-xl font-bold mb-4">Resultados de la Búsqueda</h2>
        <table class="min-w-full bg-white border border-gray-200">
          <thead>
            <tr class="bg-gray-100">
              <th class="px-6 py-3 text-left">Nombre</th>
              <th class="px-6 py-3 text-left">Precio</th>
              <th class="px-6 py-3 text-left">Categoria</th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="itemmenu : ${itemsmenu}" class="border-t">
              <td class="px-6 py-3" th:text="${itemmenu.nombre}"></td>
              <td class="px-6 py-3" th:text="${itemmenu.precio}"></td>
              <td class="px-6 py-3" th:text="${itemmenu.categoria}"></td>
            </tr>
          </tbody>
        </table>
      </div>

      <!-- Si no hay resultados -->
      <div th:if="${#lists.isEmpty(itemsmenu)}" class="mt-6">
        <p>No se encontraron items que coincidan con la búsqueda.</p>
      </div>

      <div class="mt-6">
        <a href="/" class="text-blue-500 hover:underline">Volver al menú principal</a>
      </div>
    </div>
  </body>
</html>
